$font-family-sans-serif: Roboto, "Helvetica Neue", Arial;

$theme-colors: (
    "primary": #3bc28a,
    "light": #EDEDED,
    "info": rgb(163, 76, 42),
    "warning": rgb(138, 160, 73)
);

$enable-rounded: false;
$enable-gradients: true;
$enable-shadows: false;

$grid-gutter-width: 20px;