$font-family-sans-serif: Roboto, "Helvetica Neue", Arial;

$theme-colors: (
    "primary": #3BC28A
);

$enable-rounded: false;
$enable-gradients: true;
$enable-shadows: false;

$grid-gutter-width: 20px;